# Advance Function

### Built in Functions
Print, len, sum

In [1]:
print("Gaurang Kumbhar")
print(3**6)

Gaurang Kumbhar
729

In [2]:
a = [1,2,3,4,5,6,7,8,9]

type(a)

list

In [3]:
sum(a)

45

In [4]:
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, /, start=0)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

# User define Function

In [5]:

def simple_interest(P:float, N:float, R:float):
    """
    P: Principal in INR
    N: number of years
    R: rate of interest
    """
    i = (P*N*R)/100
    a = P + i 
    return a, i

In [6]:
simple_interest(50000,30000,6)

(90050000.0, 90000000.0)

In [7]:
help(simple_interest)

Help on function simple_interest in module __main__:

simple_interest(P: float, N: float, R: float)
    P: Principal in INR
    N: number of years
    R: rate of interest

In [8]:
i1, a1 = simple_interest(3000000, 2, 11.25)

In [9]:
i1

3675000.0

In [10]:
a1

675000.0

### Function that multiples 2 Numbers

In [13]:
def mul (a: float, b:float):
    """
    This function multiplies 2 numbers
    """
    c= a*b
    return c

In [15]:
help(mul)

Help on function mul in module __main__:

mul(a: float, b: float)
    This function multiplies 2 numbers

In [16]:
mul(a=3878, b=249)

965622

In [34]:
def div (a=float,b=float, c=float) -> float:
    d = a*b/c
    return d

In [36]:
div (151746, 3, 18719)

24.31956835301031

### *args IN PYTHON ACTS LIKE TUPLES

In [37]:
def func1(*args):
    print(args)
    print(type(args))
    for i in args:
        print(i)

In [38]:
func1("Example", 12.3 , True, 23, "Gaurang kumbhar")

('Example', 12.3, True, 23, 'Gaurang kumbhar')
<class 'tuple'>
Example
12.3
True
23
Gaurang kumbhar

### Unpacking list as Args

In [39]:
a = [True, "Example", 23, 45.6]
type(a)

list

In [43]:
func1(*a)

(True, 'Example', 23, 45.6)
<class 'tuple'>
True
Example
23
45.6

### Multiplying the numbers  with args

In [44]:
def mul_many(*args):
    p = 1
    for i in args:
        p = p*i
    return p

In [45]:
mul_many(3, 3)

9

In [46]:
mul_many(2.3, 4.5, 5.6, 34, 67)

132032.88

In [47]:
b = list(range(1, 100))

In [48]:
print(b)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [49]:
c = mul_many(*b)

In [50]:
c

933262154439441526816992388562667004907159682643816214685929638952175999932299156089414639761565182862536979208272237582511852109168640000000000000000000000

## Billing at a  ecommerce Store
(Name, price , quantity)
[("laptop", 60000, 1), ("Bag", 2000, 1), ("Mouse", 1000, 2)]

In [7]:
def billing(*args):
    final_total=0
    for name, price, quantity in args:
        subtotal = price*quantity
        final_total+= subtotal
        print(f"Product name  : {name}, Price : {price}, QTY: {quantity}")
        print(f"subtotal : {subtotal}")
        print("\n=================================================================\n")
    
    print(f"Total billing amount : {final_total:.2f} INR ")
    return final_total

In [8]:
 a1 = billing(
("Mobile",50000, 6),
("Laptops",67000, 5),
("Mouse",2566, 3),
("Keyboard",5000, 10),
    
)

Product name  : Mobile, Price : 50000, QTY: 6
subtotal : 300000

=================================================================

Product name  : Laptops, Price : 67000, QTY: 5
subtotal : 335000

=================================================================

Product name  : Mouse, Price : 2566, QTY: 3
subtotal : 7698

=================================================================

Product name  : Keyboard, Price : 5000, QTY: 10
subtotal : 50000

=================================================================

Total billing amount : 692698.00 INR

In [9]:
a1

692698

In [10]:
Cart = [
    ("Chairs", 999, 92),
    ("Tables", 50, 32),
    ("Sofas", 800, 45)
]

In [11]:
print(Cart)

[('Chairs', 999, 92), ('Tables', 50, 32), ('Sofas', 800, 45)]

In [12]:
a2 = billing(*Cart)

Product name  : Chairs, Price : 999, QTY: 92
subtotal : 91908

=================================================================

Product name  : Tables, Price : 50, QTY: 32
subtotal : 1600

=================================================================

Product name  : Sofas, Price : 800, QTY: 45
subtotal : 36000

=================================================================

Total billing amount : 129508.00 INR

In [13]:
a2

129508